body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}
  
nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
  
nav button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 20px;
}

nav button:hover {
    background-color: #777;
}

.sorting-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.box {
    background-color: #141414;
    padding: 30px;
    margin: 20px;
    border-radius: 13px;
    margin-top: 40px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    
}
  
.bar {
    width: 14px;
    margin: 0 2px;
    background-color: #61ddffd8;
    transition: height 0.1s;
}

.speed-box{
    background-color: #555;
    border-radius: 4px;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav label{
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 20px;
}

/* speed input */
.speed-input {
    color: #fff;
    border: 2px solid #61ddffd8;
    border-radius: 4px;
}

@media screen and (max-width: 1600px) {
    .bar {
      width: 10px;
      margin: 2px;
    }
}

@media screen and (max-width: 1300px) {
    .bar {
      width: 8px;
      margin: 2px;
    }
}

@media screen and (max-width: 1100px) {
    .bar {
      width: 6px;
      margin: 2px;
    }
}

@media screen and (max-width: 950px) {
    .bar {
      width: 3px;
      margin: 2px;
    }
}

@media screen and (max-width: 700px) {
    .bar {
      width: 2px;
      margin: 2px;
    }
}
  