body {
    background-color: #0b0b0b;
    color: #fff;
    font-family: 'Roboto', sans-serif;

}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
  
nav button {
    background-color: #141414;
    backdrop-filter: blur(50px);
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid rgba(255,255,255,0.1);
    transition: all 0.2s ease-in-out;
}

nav button:hover {
   border: 2px solid rgba(255,255,255,0.3);
}

.sorting-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


.box {
    background-color: #141414;
    margin: 0 2rem;
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 700px;
}

  
.bar {
    width: 6px;
    margin: 0 0.5px;
    background-color: #61ddffd8;
}

.speed-box{
    background-color: #141414;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255,255,255,0.1);

}

nav label{
    color: #fff;
    margin-right: 10px;
}

.speed-input {
    color: #fff;
    border: 2px solid #61ddffd8;
    border-radius: 4px;
}

.button.disabled{
    opacity: 0.5;
    border: 2px solid rgba(255,255,255,0.1);
    cursor: not-allowed;
}

.button.disabled:hover{
    border: 2px solid rgba(255,255,255,0.1);
}

@media (max-width: 1200px){
    nav button {
        padding: 0.2rem 0.8rem;
        font-size: 0.8rem;
    }
    .speed-box{
        padding: 0.2rem 0.8rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 950px){
    nav {
    flex-direction: column;
    align-items:flex-start;
    gap: 1rem;
    padding: 2rem;
}
}


@media (max-width: 400px){
    .bar {
    width: 2px;
    margin: 0;
    }
    .sorting-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
}
